Package: com.imokhles.developerslib
Name: DevelopersLib
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome library for developers!!
Maintainer: iMokhles
Author: iMokhles
Section: System
Tag: role::developer
