Package: com.imokhles.developerslib
Name: DevelopersLib
Depends: 
Architecture: iphoneos-arm
Description: An awesome library for developers!!
Maintainer: iMokhles
Author: iMokhles
Section: System
Tag: role::developer
Version: 0.0.1-5
Installed-Size: 1200
